## Python Tuples

- In Python, a tuple is a collection of ordered, immutable items.
- Tuples are similar to lists, but unlike lists, they cannot be modified after their creation (i.e., they are immutable). Tuples are defined using parentheses ().

## Key Features of Tuples:

- Ordered: Items are stored in a specific order and can be accessed by index.

- Allows duplicates: Tuples can store multiple instances of the same value.

  For example:

In [2]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

('apple', 'banana', 'cherry')

- Accessing of tuples: 
Tuples support indexing and slicing just like lists.

In [10]:
items = ("toy","pencil","tie")
print(items[1])
print(items[0:5])

pencil
('toy', 'pencil', 'tie')

- Immutable: Once created, the elements of a tuple cannot be changed, added, or removed.

In [11]:
fruits = ("apple","banana","cherry")
fruits[1] = "pineapple"
print(fruits)

TypeError: 'tuple' object does not support item assignment

# Tuple Operations
Python tuples support several operations, such as concatenation, repetition, comparison, and more.



Here's a list of 2 common tuple operations :

# Concatenation (+)

You can concatenate two or more tuples to form a new tuple using the + operator.

For Example:

In [5]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [8]:


tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result1 = tuple1 + tuple2

tuple3 = ("apple", "banana")
tuple4 = ("cherry", "orange")
result2 = tuple3 + tuple4

tuple5 = (10, 20)
tuple6 = (2.5, 3.5)
result3 = tuple5 + tuple6

tuple7 = (True, False)
tuple8 = ("yes", "no")
result4 = tuple7 + tuple8

tuple9 = ((1, 2), (3, 4))
tuple10 = ((5, 6), (7, 8))
result5 = tuple9 + tuple10

# Repetition (*)

You can repeat the elements of a tuple a specified number of times using the * operator.

For Example:

In [7]:
tuple1 = ("a", "b")
result = tuple1 * 3
print(result)

('a', 'b', 'a', 'b', 'a', 'b')

In [9]:


tuple11 = (1, 2, 3)
result6 = tuple11 * 2

tuple12 = ("hello", "world")
result7 = tuple12 * 3

tuple13 = (5,)
result8 = tuple13 * 4

tuple14 = ("a", 1, True)
result9 = tuple14 * 2

tuple15 = ((1, 2), (3, 4))
result10 = tuple15 * 2

# Tuple Methods

# count()
Returns the number of times a specified value appears in the tuple.

In [18]:
tuple1 = (1, 2, 3, 1, 1, 4)
result1 = tuple1.count(1)
print(result1)  

tuple2 = ("apple", "banana", "apple", "orange")
result2 = tuple2.count("apple")
print(result2)  

tuple3 = (1.1, 2.2, 1.1, 3.3)
result3 = tuple3.count(1.1)
print(result3) 

tuple4 = (True, False, True, True)
result4 = tuple4.count(True)
print(result4)  

tuple5 = ("a", "b", "a", "c", "a")
result5 = tuple5.count("a")
print(result5)

3
2
2
3
3

# Index()
Returns the index of the first occurrence of a specified value in the tuple.

In [ ]:
tuple6 = (1, 2, 3, 4, 2, 5)
result6 = tuple6.index(2)
print(result6) 

tuple7 = ("apple", "banana", "cherry", "banana")
result7 = tuple7.index("banana")
print(result7) 

tuple8 = (1.1, 2.2, 3.3, 1.1, 4.4)
result8 = tuple8.index(1.1)
print(result8)  # Outputs the index of the first occurrence of 1.1 in tuple8

tuple9 = (True, False, True, True)
result9 = tuple9.index(False)
print(result9)  # Outputs the index of the first occurrence of False in tuple9

tuple10 = ("a", "b", "c", "a", "d")
result10 = tuple10.index("a")
print(result10)  # Outputs the index of the first occurrence of "a" in tuple10